/** {
  border: 1px solid black;
}*/

/* Site-wide */

.page-container {
  width: 900px;
  margin: auto;
}

.container {
  width: 100%;
  margin: 5px 0;
  display: inline-block;
}

/* 2 columns grid */

.column-left {
  width:50%; 
  float:left; 
  position:relative;
}

.column-right {
  width: 50%;
  float: right;
}

/* User pictures */

.userPic_thumb {
  width: 48px;
  height: 48px;
}

/* Species photos */
.speciesPhoto_default {
  width: 600px;
  min-height: 250px;
}

/* Format tables */
tr:nth-child(even) {background: #ededed}

