#form fieldset {
  padding:1em 1.5em;
  border:1px solid #bbb;
  width: 450px;
  margin: 15px auto;
}
     
#form legend {
  font-weight:bold;
}
     
#form label {
  display:block;
}
     
#form label span {
  color:#f00;
}

#form .error {
  padding:5px;
  margin:5px 0;
  border:1px solid #f00;
}


  /* some styling for triggers */
  #triggers {
  text-align:center;
  }

  #triggers img {
  cursor:pointer;
  margin:0 5px;
  background-color:#fff;
  border:1px solid #ccc;
  padding:2px;

  -moz-border-radius:4px;
  -webkit-border-radius:4px;

  }

    /* styling for elements inside overlay */
  .details {
  position:absolute;
  top:15px;
  right:15px;
  font-size:11px;
  color:#fff;
  width:150px;
  }

  .details h3 {
  color:#aba;
  font-size:15px;
  }
