/* styling for elements inside overlay */
.photos {
width:560px;
height: 330px;
overflow: hidden;
margin: 30px;
}

.details {
width:560px;
margin: 30px;
font-size:11px;
color: #000;
}

.details h3 {
color:#aba;
font-size:15px;
}
